# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.pytest_cache
.pytest_cache.*

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

Images

.DS_Store
.gitconfig
.pickle
tme/temp
doc/compileApiReference.sh
public
doc/_build
doc/reference/api
doc/reference/data_structures/api
doc/reference/preprocessing/api
doc/reference/template_matching/api

tme/package.py
tme/tests/test_packaging.py
tme/scoring.py
scripts/match_template_devel.py
scripts/match_template_filters.py
scripts/refine_matches.py
scripts/extract_candidates.py
scripts/eval.py
update_github.sh
doc/quickstart/plot.py
